{{ define "main" }}
<article class="sm:mx-4">
    {{/* Post tags, title, metadata and banner image */}}
    <div class="py-2">
        {{ partial "post-tags" . }}
        <h1 class="text-center py-2 px-6">{{ .Title }}</h1>
        {{ partial "post-metadata" . }}
        <div class="my-8 rounded overflow-hidden">
            {{ .Scratch.Set "set_img_link" true }}
            {{ partial "post-featured-image" . }}
        </div>
    </div>

    <div class="article-container max-w-screen-md xl:max-w-screen-lg mx-auto">
        {{ .Content }}
    </div>

    {{/* Previous/Next posts in the same category, and other suggested posts
    */}}
    <hr class="mt-16" />
    <div>
        {{partial "post-prev-next" . }} {{partial "post-suggestions" . }}
    </div>

    {{/* Buttons at the bottom-right */}}
    <div class="fixed block" style="bottom: 1.2rem; right: 1.2rem;">
        {{partial "back-to-top-button" }} {{partial "table-of-contents" . }}
    </div>
</article>
{{ end }}
