/* Background color for homepage only */
.page-home {
    @apply bg-ne-background;
}

/* Text elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-ne-on-background;
}

p {
    @apply text-ne-on-background;
}

mark {
    @apply bg-ne-primary-dark;
}

.article-container blockquote * {
    @apply text-ne-on-surface !important;
}

:not(pre) > code {
    @apply text-ne-on-error bg-ne-error rounded-sm;
}

code.has-jax,
div.has-jax {
    @apply text-ne-on-background;
}

.article-container a {
    @apply text-ne-secondary;
}

.article-container ul,
.article-container ol {
    @apply text-ne-on-background;
}

.article-container table {
    @apply bg-white border-ne-surface;
}

.article-container tbody tr:nth-child(even) {
    @apply bg-ne-surface-lighter;
}
.article-container tbody tr:hover {
    @apply bg-ne-primary-lighter;
}

.article-container figcaption {
    @apply text-ne-on-surface;
}

.article-container .alert-warning {
    @apply text-ne-on-error bg-ne-error;
}

section.footnotes:before {
    @apply text-ne-on-surface bg-white;
}

.post-footer {
    @apply text-ne-surface-dark;
}

.post-summary {
    @apply text-ne-on-surface;
}

/* TOC and search screen */
#toc-list ol {
    @apply text-ne-on-background border-ne-surface;
}

#toc-list a:hover {
    @apply bg-ne-surface;
}

#toc-container {
    @apply bg-white;
}

#toc-top-divider::after {
    @apply text-ne-on-surface bg-white;
}

#toc-background-mask,
#search-screen {
    @apply bg-ne-background-dark bg-opacity-60;
}

#search-wrapper {
    @apply bg-white shadow-md;
}
#search-input {
    @apply border-b border-ne-surface text-ne-on-surface;
}
#search-input input {
    @apply text-ne-surface-dark;
}

ul.search-results {
    @apply text-ne-surface-dark;
}

ul.search-results li {
    @apply border-ne-surface;
}

ul.search-results li:hover {
    @apply bg-ne-surface;
}

.search-results .search-res-title {
    @apply text-ne-on-background;
}

.search-results .search-res-date {
    @apply text-ne-on-surface-lighter;
}

.search-results .search-res-content {
    @apply text-ne-surface-dark;
}

/* Unified buttons style */
.round-button {
    @apply shadow-md bg-white;
}

.round-button button,
button.round-button {
    @apply text-ne-on-background;
}

/* Site header */
#site-header {
    @apply bg-white text-ne-surface-dark shadow-sm;
}

.site-header-navlink:hover {
    @apply bg-ne-surface;
}

/* Publication related */
#publication-metadata {
    @apply text-ne-on-surface;
}

.listview-wrapper {
    @apply text-ne-surface-dark;
}

.listview-row {
    @apply hover:bg-ne-surface transition-all duration-150 ease-linear;
}

/* Styling cards and elements */
.post-card {
    @apply bg-white text-ne-surface-dark;
}

.gray-tag {
    @apply text-ne-surface-dark bg-ne-surface hover:bg-ne-primary-dark;
}

/* Homepage pagination */
ul.pagination {
    @apply border-ne-surface;
}

li.page-item {
    @apply border-ne-surface text-ne-on-surface;
}

li.page-item:not(.disabled) {
    @apply hover:bg-ne-surface;
}

li.page-item.active {
    @apply text-ne-on-background border-ne-primary-dark;
}
li.page-item.disabled {
    @apply text-ne-on-surface-lighter;
}
