/* Text elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-gray-800;
}

p {
    @apply text-gray-800;
}

mark {
    @apply bg-yellow-300;
}

blockquote {
    @apply border-yellow-400 bg-yellow-100;
}

:not(pre) > code {
    @apply text-red-600 bg-red-100 rounded-sm;
}

.article-container a {
    @apply text-blue-600;
}

.article-container ul,
.article-container ol {
    @apply text-gray-800;
}

.article-container table {
    @apply bg-white border-gray-400;
}

.article-container tbody tr:nth-child(even) {
    @apply bg-gray-100;
}
.article-container tbody tr:hover {
    @apply bg-gray-300;
}

.article-container figcaption {
    @apply text-gray-700;
}

.article-container .alert-warning {
    @apply text-red-600 bg-red-100;
}

section.footnotes:before {
    @apply text-gray-500 bg-white;
}

/* TOC and search screen */
#toc-list ol {
    @apply text-gray-800 border-gray-300;
}

#toc-list a:hover {
    @apply bg-gray-300;
}

#toc-container {
    @apply bg-white;
}

#toc-top-divider::after {
    @apply text-gray-500 bg-white;
}

#toc-background-mask,
#search-screen {
    background-color: rgba(0, 0, 0, 0.6);
}

#search-wrapper {
    @apply bg-white shadow-md;
}
#search-input {
    @apply border-b border-gray-300;
}
#search-input input {
    @apply text-gray-700;
}

ul.search-results {
    @apply text-gray-700;
}

ul.search-results li {
    @apply border-gray-300;
}

ul.search-results li:hover {
    @apply bg-gray-200;
}

.search-results .search-res-title {
    @apply text-gray-800;
}

.search-results .search-res-date {
    @apply text-gray-500;
}

.search-results .search-res-content {
    @apply text-gray-700;
}

/* Unified buttons style */
.round-button {
    @apply rounded-full shadow-md bg-white transition-all duration-150 ease-linear;
}

.round-button button,
button.round-button {
    @apply font-bold text-gray-800;
}

/* Site header */
#site-header {
    @apply text-gray-700 text-lg;
}

.site-header-navlink:hover {
    @apply bg-gray-300;
}

/* Styling cards and elements */
.post-card {
    @apply text-gray-700;
}

.gray-tag {
    @apply text-gray-700 bg-gray-200;
}

.post-footer {
    @apply text-gray-700;
}

.post-summary {
    @apply text-gray-600;
}

/* Publication related */
#publication-metadata {
    @apply text-gray-600;
}

.listview-wrapper {
    @apply text-gray-700;
}

.listview-row:hover {
    @apply bg-gray-200;
}

/* Homepage pagination */
ul.pagination {
    @apply border-gray-200;
}

li.page-item {
    @apply border-gray-200 text-gray-600;
}

li.page-item.active {
    @apply text-gray-700 border-yellow-400;
}
li.page-item.disabled {
    @apply text-gray-400;
}
