/* purgecss start ignore */
/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";

/* Site Specific */
@import "assets/css/site";

/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* purgecss end ignore */

/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";
