@font-face {
    font-family: JetBrains Mono;
    font-weight: 400;
    src: local("JetBrains Mono") url(fonts/JetBrainsMono-Regular.woff2)
        format("woff2");
}

/* Site-wide smooth scrolling */
html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-serif font-bold text-gray-700 text-xl;
    @apply pt-3 pb-2;
}
h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h6 {
    @apply font-normal;
}

/* Blockquote */
blockquote {
    @apply pl-16 pr-8 py-4 my-2 relative border-l-2 border-yellow-400;
}

blockquote::before {
    @apply absolute font-serif text-yellow-400;
    font-size: 6rem;
    content: "\201C";
    top: -1.5rem;
    left: 0.5rem;
}

/* Text elements */
p {
    @apply font-sans text-gray-800;
}

a {
    @apply transition-all duration-150 ease-in-out;
}

a:hover {
    @apply bg-gray-300 text-gray-800;
}

hr {
    @apply my-6 py-2;
}

/* Code highlight (mainly w/ highlight.js) */
:not(pre) > code {
    @apply text-red-600 bg-red-100 rounded;
}

pre {
    @apply overflow-auto m-1 px-3 rounded bg-gray-100;
}

code.hljs {
    background-color: inherit;
}

/* Table */
table {
    @apply table-auto w-full max-w-full my-4 overflow-y-hidden;
    @apply bg-white border-b-2 border-gray-400;
}

tr th {
    @apply px-4 py-1 border-b-2 border-gray-400;
}
tr td {
    @apply border px-4 py-2 border-gray-400;
}

tbody tr:nth-child(even) {
    @apply bg-gray-100;
}
tbody tr:hover {
    @apply bg-gray-300;
}

/* ################################# */
/*           Post articles           */
/* ################################# */
article {
    @apply text-lg;
}

/* Figures */
.article-container img {
    @apply my-4 max-w-full mx-auto;
}

/* Lists */
.article-container ul {
    @apply list-disc list-outside pl-4;
}

.article-container ol {
    @apply list-decimal list-outside pl-6;
}

/* Text elements */
.article-container a {
    @apply underline;
}

.article-container p {
    @apply py-1 mb-2 text-lg leading-relaxed text-left break-normal;
}

/* Overflow long math equations for MathJax */
mjx-container[display="true"] {
    overflow-x: auto;
    overflow-y: hidden;
}

/* Better looking footnotes */
a.footnote-ref {
    @apply no-underline font-bold;
}
a.footnote-ref::before {
    content: "[";
}
a.footnote-ref::after {
    content: "]";
}

.footnotes p {
    @apply mt-0 mb-2 py-0 text-base font-serif;
}

.footnotes ol {
    @apply text-base font-serif;
}

/* ################################# */
/*         Table of contents         */
/* ################################# */
#toc-list ol {
    @apply pl-6 text-gray-700 border-l-2 border-gray-300;
    counter-reset: tocitem;
}

#toc-top-divider::after {
    content: "Table of Contents";
    @apply inline-block text-gray-500 font-bold bg-white pr-2 transform -translate-y-4;
}

#toc-list #TableOfContents > ol {
    @apply border-0;
}

#toc-list a {
    @apply inline-block w-4/5 rounded px-1 leading-relaxed;
}
#toc-list ol > li {
    display: block;
    counter-increment: tocitem;
}

#toc-list li::before {
    @apply -ml-1 mr-2 font-bold;
    content: counters(tocitem, ".");
}
