@font-face {
    font-family: JetBrains Mono;
    font-weight: 400;
    src: local("JetBrains Mono") url(fonts/JetBrainsMono-Regular.woff2)
        format("woff2");
}

/* Site-wide smooth scrolling */
html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* ################################# */
/* #         Overall design        # */
/* ################################# */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-serif font-bold text-xl;
    @apply pt-4 pb-2;
}
h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h6 {
    @apply font-normal;
}

/* Text elements */
p {
    @apply font-sans;
}

a {
    @apply transition-all duration-150 ease-linear;
}

hr {
    @apply mt-6 py-2;
}

/* Blockquote */
blockquote {
    @apply pl-10 pr-2 py-4 my-2 relative border-l-2;
}

@media (min-width: 768px) {
    blockquote {
        @apply pl-16 ml-4 pr-4;
    }
}

blockquote::before {
    @apply absolute font-serif text-yellow-400;
    font-size: 6rem;
    content: "\201C";
    top: -1.5rem;
    left: 0.5rem;
}

/* Code highlight */
pre {
    @apply overflow-auto py-3;
}

.highlight {
    @apply my-2 ml-2;
}

.highlight > div {
    @apply rounded-md;
}

/* First one is the line numbers, second one is the actual code */
.highlight td:first-child pre {
    @apply pl-3 rounded-l-md;
}

.highlight tbody tr:hover {
    @apply bg-transparent !important;
}

/* ################################# */
/* #         Post articles         # */
/* ################################# */
article {
    @apply text-lg;
}

/* Figures */
.article-container img {
    @apply my-4 max-w-full mx-auto;
}

.article-container figcaption.numbered {
    counter-increment: captions;
}

.article-container figcaption.numbered:before {
    @apply font-bold;
    content: attr(data-pre) counter(captions) attr(data-post);
}

/* Lists */
.article-container ul {
    @apply list-disc list-outside pl-8;
}

.article-container ol {
    @apply list-decimal list-outside pl-8;
}

.article-container li {
    @apply py-1;
}

/* Text elements */
.article-container a {
    @apply underline;
}
.article-container a:hover {
    @apply bg-yellow-400 text-gray-800;
}

.article-container p {
    @apply py-1 mb-2 text-lg leading-relaxed text-left break-normal;
}

.article-container figcaption {
    @apply block mt-3 mb-6 text-base font-serif leading-normal text-center;
}

/* Tables */
.article-container table {
    @apply block mx-auto my-4 border-gray-400;
    @apply overflow-y-hidden overflow-x-auto;
    max-width: fit-content;
}

.article-container tr th {
    @apply px-4 py-1 border-b-2 text-left;
}
.article-container tr td {
    @apply border px-4 py-2;
}

.article-container tr td:first-child {
    @apply border-l-0;
}

.article-container tr td:last-child {
    @apply border-r-0;
}

/* Overflow long math equations for MathJax */
mjx-container[display="true"] {
    overflow-x: auto;
    overflow-y: hidden;
}

/* Better looking footnotes */
section.footnotes {
    @apply mt-12;
}
section.footnotes:before {
    content: "Footnotes";
    @apply absolute font-serif font-bold pr-2 transform -translate-y-4;
}

a.footnote-ref {
    @apply no-underline font-bold;
}
a.footnote-ref::before {
    content: "[";
}
a.footnote-ref::after {
    content: "]";
}

.footnotes p {
    @apply py-0 text-base font-serif;
}

.footnotes ol {
    @apply text-base font-serif pl-4;
}

/* ################################# */
/* #       Table of contents       # */
/* ################################# */
#toc-list ol {
    @apply pl-3 m-1 border-l-2;
    counter-reset: tocitem;
}

#toc-top-divider::after {
    content: "Table of Contents";
    @apply inline-block text-gray-500 font-bold bg-white pr-2 transform -translate-y-4;
}

#toc-list > #TableOfContents > ol {
    @apply border-0;
}

#toc-list a {
    @apply inline-block w-full rounded px-3 leading-relaxed transition-none;
}

#toc-list ol > li {
    @apply block my-1;
    counter-increment: tocitem;
}

#toc-list li > a::before {
    @apply mr-2 -ml-3 font-semibold;
    content: counters(tocitem, ".");
}

/* ################################# */
/* #         TOC & Search          # */
/* ################################# */
#toc-background-mask.active,
#search-screen.active {
    opacity: 1;
}
.toc-hidden,
.search-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in;
}

/* ################################# */
/* #        Search results         # */
/* ################################# */
ul.search-results {
    @apply leading-6;
}

ul.search-results li {
    @apply py-1 border-b px-4;
}

.search-results .search-res-header {
    @apply flex flex-row justify-between;
}

.search-results .search-res-title {
    @apply block font-semibold;
}

.search-results .search-res-title mark {
    @apply px-1;
}

.search-results .search-res-date {
    @apply flex-shrink-0 text-sm;
}

.search-results .search-res-content {
    @apply text-sm;
}

/* ################################# */
/* #      Specific elements        # */
/* ################################# */
@media (min-width: 768px) {
    .home-post-card {
        flex-basis: 50%;
        max-width: 50%;
    }
}

.site-header-navlink {
    @apply transition-all duration-150 ease-linear;
}

.post-feat-card-content * {
    @apply text-gray-200;
}

.post-card {
    min-height: 20rem;
    max-height: 38rem;
    @apply shadow transition ease-in-out duration-300;
}

.post-card:hover {
    @apply shadow-lg;
}

iframe.instagram-media,
.twitter-tweet {
    @apply mx-auto !important;
}
