{{/* glide.js for homepage carousel */}}
{{ if .IsHome }}
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/glide.min.js"
    integrity="sha256-CnNQJd80jPuIDyeQRRq7+Wgt+++Kl0dZLt4ETNmxMIw=" crossorigin="anonymous"></script>
<script>
    const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
    const peekVal = (vw > 768) ? 35 : 0
    var glide = new Glide('.glide', { autoplay: 5000, focusAt: "center", peek: peekVal, type: "carousel" })
    glide.mount()
</script>
{{ end }}

{{/* Feather icons  */}}
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>feather.replace()</script>

{{/* Mathjax import */}}
{{ $mathjax_config := resources.Get "js/mathjax-config.js" | minify | fingerprint }}
<script defer src="{{- $mathjax_config.RelPermalink -}}" integrity="{{- $mathjax_config.Data.Integrity -}}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" crossorigin="anonymous"></script>

{{/* MinSearch for search bar */}}
{{ if site.Params.minisearch_enabled }}
{{ partialCached "search" . }}
{{ end }}

{{ if (not .Site.IsServer) }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
