<div
    class="flex w-full justify-center items-center space-x-4 text-gray-500 text-sm font-bold divide-x-2"
>
    {{ with .Param "publishdate" }}
    <div>
        <i class="fas fa-calendar-day mr-1"></i>
        {{ .Format "June 2, 2006" -}}
    </div>
    {{ end }}
    
    {{ if .Params.categories }}
    <div class="pl-4">
        <i class="fas fa-folder mr-1"></i>
        {{- range $index, $value := (.GetTerms "categories") -}}
            {{- if gt $index 0 }}, {{ end -}}
            <a href="{{ .RelPermalink }}" class="no-underline">{{ humanize .LinkTitle }}</a>
        {{- end -}}
    </div>
    {{ end }}

    {{ with .ReadingTime }}
    <div class="pl-4">
        <i class="fas fa-stopwatch mr-1"></i>
        {{ . -}}min Read
    </div>
    {{ end }}
</div>
