<div class="post-card relative p-0 rounded overflow-hidden">
    <a href="{{ .Permalink }}">
        {{/* Show banner image or default header image */}}
        {{ .Scratch.Set "set_img_link" false}}
        {{ .Scratch.Set "set_img_caption" false}}
        {{ .Scratch.Set "get_large" false }}
        <div class="block relative overflow-hidden w-full rounded" style="max-height: 16rem;">
            {{ partial "post-featured-image" . }}
        </div>

        {{/* featured */}}
        {{ if .Params.featured }}
        <i data-feather="star" class="absolute right-0 top-0 pr-4 pt-4 w-10 h-10 text-yellow-400" fill="#f6e05e"></i>
        {{ end }}

        <div class="px-2 sm:px-4">
            <div class="flex flex-row flex-wrap justify-between content-center tracking-tighter mt-2">
                {{/* Page categories */}}
                {{ if .Params.categories }}
                <div class="flex flex-shrink font-serif text-gray-600 pr-2">
                    {{- range $index, $value := (.GetTerms "categories") -}}
                    {{- if gt $index 0 }} | {{ end -}}
                    {{- humanize .LinkTitle -}}
                    {{- end -}}
                </div>
                {{ end }}

                {{/* Date and category */}}
                <div class="flex flex-row justify-start items-center space-x-2 text-gray-500 text-sm divide-x-2">
                    {{ with .PublishDate }}
                    <div class="flex flex-shrink-0 items-center">
                        {{ dateFormat "Jan 2, 2006" .Local -}}
                    </div>
                    {{ end }}
                    {{ with .ReadingTime }}
                    <div class="pl-2 flex flex-shrink-0 items-center">
                        {{ . }} min read
                    </div>
                    {{ end }}
                </div>
            </div>

            {{/* Title */}}
            <h4 class="font-serif tracking-tight py-0">{{- .Title -}}</h4>

            {{/* Summary */}}
            <p class="text-base leading-relaxed">
                {{ .Params.summary | default ( .Content | plainify | emojify | truncate 150 ) }}
            </p>
        </div>
    </a>
    {{/* Tags */}}
    <div class="flex flex-wrap justify-left px-2 sm:px-4 my-2 space-x-2">
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}"
            class="gray-tag inline-block px-3 py-1 my-1 rounded-full hover:bg-yellow-400 text-sm no-underline tracking-tight leading-tight font-semibold">
            #{{ .LinkTitle }}
        </a>
        {{ end }}
    </div>
</div>
