{{/* Featured images can be set in the header_image.src parameter in the front
matter. We look for "featured.jpg" or "featured.png" in the same
directory as the post. */}}
{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ if (and $img (not .Params.header_image.list_only)) }}
    {{ $small := $img.Resize "640x" }}
    {{ $medium := $img.Resize "800x" }}
    {{ $large := $img.Resize "1200x" }}
    {{ $xlarge := $img.Resize "1500x" }}
    <figure class="w-full">
    {{ if (.Scratch.Get "set_img_link") }}
    {{ with .Params.header_image.img_link }}
        <a href="{{ . }}" target="_blank" rel="noreferrer">
    {{ end -}}
    {{ end -}}
    <img
        src="{{ $img.RelPermalink }}"
        srcset='
        {{ if ge $img.Width "640" }}
            {{with $small.RelPermalink }}{{.}} 640w,{{- end }}
        {{ end }}
        {{ if ge $img.Width "800" }}
            {{with $medium.RelPermalink }}{{.}} 800w,{{- end }}
        {{ end }}
        {{ if ge $img.Width "1200" }}
            {{with $large.RelPermalink }}{{.}} 1200w,{{- end }}
        {{ end }}
        {{ if ge $img.Width "1500" }}
            {{with $xlarge.RelPermalink }}{{.}} 1500w{{- end }}
        {{ end }}'
        {{ with .Params.header_image.caption }}alt="{{.}}"{{end}}
    />
    {{- if (and .Params.header_image.img_link (.Scratch.Get "set_img_link")) }}</a>{{ end }}
    </figure>
{{ end }}
