{{/* Get background image link, using featured.png/jpg by default  */}}
{{ $img_src := "" }}
{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ if $img }}
{{ $img_src = ($img.Resize "1000x").RelPermalink }}
{{ else if .Params.header_image.unsplash_id }}
{{ $img_src = printf "https://source.unsplash.com/%s/1000x1000" .Params.header_image.unsplash_id }}
{{ else }}
{{ $img_src = printf "https://source.unsplash.com/1000x1000/?nature,city" }}
{{ end }}

<div class="relative overflow-hidden rounded-md" style="height: 30rem;">
    <a href="{{ .Permalink }}">
        {{/* background image */}}
        <img src="{{ $img_src }}" loading="lazy" class="object-cover object-center w-full h-full"
            {{ with .Params.header_image.caption }}alt="{{.}}" {{end}} style="filter: brightness(0.7);" />

        {{/* Page information */}}
        {{ if .Params.categories }}
        <div class="absolute top-0 text-gray-200 font-bold tracking-tight w-4/5 pl-4 sm:pl-8 pt-10 sm:pt-32">
            {{- range $index, $value := (.GetTerms "categories") -}}
            {{- if gt $index 0 }} | {{ end -}}
            {{- humanize .LinkTitle -}}
            {{- end -}}
        </div>
        {{ end }}
        <h2 class="absolute top-0 text-white w-4/5 pl-4 sm:pl-8 pt-20 sm:pt-40">{{ .Title }}</h2>
        <div class="absolute bottom-0 text-gray-200 font-bold tracking-tight pl-4 sm:pl-8 pb-4">
            {{ with .Param "publishdate" }}
            {{- dateFormat "Jan 2, 2006" .Local }} |
            {{ end }}
            {{ with .ReadingTime }}
            {{ . }} min read
            {{ end }}
        </div>
    </a>
    <div data-glide-el="controls" class="glide__arrows absolute bottom-0 text-white right-0 pr-4 pb-2 hidden sm:block">
        <button data-glide-dir="<" class="glide-prev" aria-label="Previous">
            <i data-feather="chevron-left" class="w-6 h-6 mx-1"></i>
        </button>
        <button data-glide-dir=">" class="glide-next" aria-label="Next">
            <i data-feather="chevron-right" class="w-6 h-6 mx-1"></i>
        </button>
    </div>
</div>
