{{/* Featured images can be set in the header_image.src parameter in the front
matter. We look for "featured.jpg" or "featured.png" in the same
directory as the post. Alternatively, you can use a photo ID from Unsplash. */}}
{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ if $img }}
    {{ $small := $img.Resize "640x" }}
    {{ $medium := $img.Resize "800x" }}
    {{ $large := $img.Resize "1200x" }}
    {{ $xlarge := $img.Resize "1500x" }}
    <figure class="w-full relative overflow-hidden" style="max-height: 50rem;">
    {{ if (.Scratch.Get "set_img_link") }}
        {{ with .Params.header_image.unsplash_id }}
            <a href="https://unsplash.com/photos/{{- . -}}" target="_blank" rel="noreferrer">
        {{ end -}}
    {{ end -}}
    <img
        class="object-cover object-center w-full h-full"
        src="{{ $img.RelPermalink }}"
        srcset='
        {{ if ge $img.Width "640" }}
            {{with $small.RelPermalink }}{{.}} 640w,{{- end }}
        {{ end }}
        {{ if ge $img.Width "800" }}
            {{with $medium.RelPermalink }}{{.}} 800w,{{- end }}
        {{ end }}
        {{ if ge $img.Width "1200" }}
            {{with $large.RelPermalink }}{{.}} 1200w,{{- end }}
        {{ end }}
        {{ if ge $img.Width "1500" }}
            {{with $xlarge.RelPermalink }}{{.}} 1500w{{- end }}
        {{ end }}'
        {{ with .Params.header_image.caption }}alt="{{.}}"{{end}}
    />
    {{ with .Params.header_image.caption }}
    <div class="absolute bottom-0 right-0 text-gray-300 bg-gray-900 bg-opacity-50 px-2">
        {{ . | markdownify | emojify }}
    </div>
    {{ end }}
    {{- if (and .Params.header_image.unsplash_id (.Scratch.Get "set_img_link")) }}</a>{{ end }}
    </figure>

{{ else if .Params.header_image.unsplash_id }}
    {{ $img_url := printf "https://source.unsplash.com/%s" .Params.header_image.unsplash_id}}
    {{ $small := printf "%s/640x640" $img_url }}
    {{ $medium := printf "%s/800x800" $img_url }}
    {{ $large := printf "%s/1200x1200" $img_url }}
    {{ $xlarge := printf "%s/1500x1500" $img_url }}
    <figure class="relative overflow-hidden" style="max-height: 50rem;">
    {{ if (.Scratch.Get "set_img_link") }}
        <a href="https://unsplash.com/photos/{{- .Params.header_image.unsplash_id -}}"
            target="_blank"
            rel="noreferrer">
    {{ end -}}
    
    <img
        class="object-cover object-center w-full h-full"
        src="{{ $img_url }}"
        srcset='
            {{ $small }} 640w,
            {{ $medium }} 800w,
            {{ $large }} 1200w,
            {{ $xlarge }} 1500w'
        {{ with .Params.header_image.caption }}alt="{{.}}"{{end}}
    />
    {{ with .Params.header_image.caption }}
    <div class="absolute bottom-0 right-0 text-gray-300 bg-gray-900 bg-opacity-50 px-2">
        {{ . | markdownify | emojify }}
    </div>
    {{ end }}
    {{- if (and .Params.header_image.unsplash_id (.Scratch.Get "set_img_link")) }}</a>{{ end }}
    </figure>
{{ end }}