{{ $related := site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="text-gray-500 font-bold text-base mb-2">
    Related Posts
</div>

<table class="table-fixed text-lg leading-loose w-full mx-auto">
    <tbody class="text-gray-700">
        {{ range . }}
        <tr
            class="hover:bg-gray-200 cursor-pointer"
            onclick="window.location = {{ .Permalink }}"
        >
            <td
                class="pl-1 lg:pl-4 w-12 lg:w-20 font-semibold tracking-tighter text-sm"
            >
                {{- dateFormat "JAN 02" .Params.publishdate -}}
            </td>
            <td class="px-2 font-serif truncate">
                <a href="{{ .Permalink }}" class="hover:bg-transparent">
                    {{- .Title -}}
                </a>
            </td>
            <td
                class="pr-1 lg:pr-4 w-24 lg:w-32 text-sm text-gray-500 tracking-tighter text-right"
            >
                {{ if .Params.featured }}
                <i class="fas fa-star text-yellow-400 pr-1"></i>
                {{ end }} {{- .ReadingTime }} min read
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}