<div class="flex justify-center w-full max-w-screen-lg mx-auto mb-2">
    <ul class="flex flex-row justify-center text-lg space-x-2 max-w-md text-gray-200">
        {{ with site.Params.email }}
        <li>
            <a href="mailto:{{ . }}"
                class="bg-gray-800 hover:bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center">
                <i data-feather="mail" class="w-5 h-5"></i>
            </a>
        </li>
        {{ end }} {{ with site.Params.github }}
        <li>
            <a href="https://github.com/{{ . }}" target="_blank" rel="noopener"
                class="bg-gray-800 hover:bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center">
                <i data-feather="github" class="w-5 h-5"></i>
            </a>
        </li>
        {{ end }} {{ with site.Params.google_scholar }}
        <li>
            <a href="https://scholar.google.com/citations?user={{ . }}" target="_blank" rel="noopener"
                class="bg-gray-800 hover:bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center">
                <i data-feather="book" class="w-5 h-5"></i>
            </a>
        </li>
        {{ end }} {{ with site.Params.linkedin }}
        <li>
            <a href="https://www.linkedin.com/in/{{ . }}/" target="_blank" rel="noopener"
                class="bg-gray-800 hover:bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center">
                <i data-feather="linkedin" class="w-5 h-5"></i>
            </a>
        </li>
        {{ end }} {{ with site.Params.twitter }}
        <li>
            <a href="https://twitter.com/{{ . }}" target="_blank" rel="noopener"
                class="bg-gray-800 hover:bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center">
                <i data-feather="twitter" class="w-5 h-5"></i>
            </a>
        </li>
        {{ end }}
        <li>
            <a href="/rss"
                class="bg-gray-800 hover:bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center">
                <i data-feather="rss" class="w-5 h-5"></i>
            </a>
        </li>
    </ul>
</div>
