{{ if and (gt .WordCount 400 ) (.Params.toc) }}
<div
    id="toc-background-mask"
    class="toc-hidden fixed inset-0"
    style="backdrop-filter: blur(8px);"
>
    <div
        id="toc-container"
        class="fixed inset-y-0 right-0 rounded overflow-auto m-2 p-6 sm:m-3 sm:left-auto transform translate-x-full transition-transform duration-300 ease-out">
        <div
            id="toc-top-divider"
            class="block relative border-t-2 border-gray-300 mt-2 mb-0 transform translate-y-3"
        ></div>

        <div id="toc-list">
            {{ .TableOfContents }}
        </div>
    </div>
</div>

{{ $toggleTOC := resources.Get "js/toc-menu.js" | minify | fingerprint }}
{{ with $toggleTOC }}
<script
    type="text/javascript"
    src="{{- .RelPermalink -}}"
    integrity="{{- .Data.Integrity -}}"
></script>
{{ end }}
{{ end }}
