{{/* There are two types of alerts: warning and note. */}}
{{ $inner := .Inner }}
{{ with .Get 0 }}
{{- if (eq . "warning") -}}
<div class="alert-warning relative pl-16 pr-4 py-4 my-2 rounded-md">
    <div>
        <i data-feather="alert-triangle" class="absolute w-8 h-8" style="left: 0.75rem;"></i>
        {{- $inner | markdownify | emojify -}}
    </div>
</div>
{{ else }}
<div class="relative pl-16 pr-4 py-4 my-2 rounded-md text-blue-700 bg-blue-200">
    <div>
        <i data-feather="info" class="absolute w-8 h-8" style="left: 0.75rem;"></i>
        {{- $inner | markdownify | emojify -}}
    </div>
</div>
{{ end }}
{{ end }}
