{{/* There are two types of alerts: warning and note. */}}
{{ $inner := .Inner }}
{{ with .Get 0 }}
{{ if (eq . "warning") }}
    <div class="relative pl-16 pr-4 py-4 my-2 rounded-md text-red-600 bg-red-100">
        <i
            class="fas fa-exclamation-triangle text-3xl absolute"
            style="left: 0.75rem;"
        ></i>
        {{ $inner | markdownify | emojify }}
    </div>
{{ else }}
    <div class="relative pl-16 pr-4 py-4 my-2 rounded-md text-blue-700 bg-blue-100">
        <i
            class="fas fa-info-circle text-3xl absolute"
            style="left: 0.75rem;"
        ></i>
        {{ $inner | markdownify | emojify }}
    </div>
{{ end }}
{{ end }}
